html { 
  background: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_523ae1f5502d6_1.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
	color: #fff;
	text-align: center;
	font-family: helvetica;
	font-size: 11pt;
}

 h1 {
	font-size: 50pt;
	margin-top: -5px;
	margin-bottom: 3px;
	color: #2C3539;
	font-family: 'Amatic SC', cursive;
}

 h2 {
	font-size: 25pt;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #2C3539;
	font-family: 'Amatic SC', cursive;
}



ul {
	list-style-type: none;
	margin-left: -40px;
}

li {
	text-align: center;
}

a{
	color:#fff;
}

#eric {
	margin: 0px auto 0 auto;
	display: block;
}

#nothinghere {
	margin: 20% auto;
}

.box {
	background-color: rgba(0,0,0,.5);
	float: left;
	width: 100%;
}

.list-2 {
	max-width: 80%;
	margin: 0px auto;
}

.list-3 {
	margin-bottom: 15px;
}


.content {
	width: 33%;
	min-width: 250px;
	float: left;
	margin: 0px auto;
}

.content h2 {
	font-size: 25pt;
	margin-top: 5px;
	margin-bottom: 3px;
	color: #fff;
	font-family: 'Amatic SC', cursive;
}

@media screen and (max-width: 510px) {
.content {
	width: 100%;
	float: left;
	margin: 0px auto;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
.content {
width: 100%;
float: left;
margin: 0px auto;}

#eric {
	margin: 0px auto 0 auto;
	display: block;
	width: 80%
}

h1 {
	font-size: 50pt;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #2C3539;
	font-family: 'Amatic SC', cursive;
}

h2 {
	font-size: 40pt;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #2C3539;
	font-family: 'Amatic SC', cursive;
}


body {
	color: #fff;
	text-align: center;
	font-family: helvetica;
	font-size: 22pt;
}


}

